<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<!--<appSettings>
		<add key="wcf:useLegacyCertificateUsagePolicy" value="true" />
	</appSettings>-->
    <system.serviceModel>
    
        <bindings>
            <netTcpBinding>
                <binding name="azSecureTcpBinding" transferMode="Streamed" maxReceivedMessageSize="2147483647">
					<readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security>
                        <transport clientCredentialType="Certificate" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>

		<behaviors>
			<!-- 定义服务行为 -->
			<endpointBehaviors>
				<behavior name="azSecureClientBehavior">
					<clientCredentials>
						<serviceCertificate>
							<authentication certificateValidationMode="None" revocationMode="NoCheck" trustedStoreLocation="LocalMachine" />
							<!--<defaultCertificate findValue="AZS-cert" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />-->
						</serviceCertificate>
						<clientCertificate findValue="AZC-cert" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"/>
					</clientCredentials>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		
        <client>
            <endpoint address="net.tcp://localhost:52888/Service1/" binding="netTcpBinding"
                bindingConfiguration="azSecureTcpBinding" contract="ServiceReference1.IService1"
                name="SecureEndpoint" behaviorConfiguration="azSecureClientBehavior">
                <identity>
                    <dns value="AZS-cert" />
                </identity>
            </endpoint>
        </client>

    </system.serviceModel>
</configuration>