<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="azSecureTcpBinding" maxReceivedMessageSize="2147483647" transferMode="Streamed">
					<security mode="Transport">
						<transport clientCredentialType="Certificate"/>
					</security>
					<reliableSession enabled="true"/>
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
				</binding>
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint address="net.tcp://localhost:52888/Service1/"
                      binding="netTcpBinding"
                      bindingConfiguration="azSecureTcpBinding"
                      contract="AzFTServer.IService1"
                      name="SecureEndpoint">
				<identity>
					<dns value="localhost"/>
				</identity>
			</endpoint>
		</client>
	</system.serviceModel>
</configuration>
