<system.serviceModel>
	
	<!-- 定义服务绑定 -->
	<bindings>
    <netTcpBinding>  <!--定义服务绑定为TCP-->
      <binding name="secureTcpBinding"> 
        <security mode="Transport">  <!--在安全性由传输层提供-->
          <transport clientCredentialType="Certificate" />
        </security>
        <reliableSession enabled="true" />
		<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
      </binding>
    </netTcpBinding>
  </bindings>
    <!--******************************************* -->
	
  <behaviors>
	 <!-- 定义服务行为 -->
    <serviceBehaviors>
      <behavior name="secureServiceBehavior">
        <serviceCredentials>
          <clientCertificate>
            <authentication certificateValidationMode="PeerTrust" revocationMode="NoCheck" />
          </clientCertificate>
          <serviceCertificate findValue="azFTServer-cert" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
        </serviceCredentials>
      </behavior>
    </serviceBehaviors>
  </behaviors>
	
    
  <services>
    <service name="<service_name>" behaviorConfiguration="secureServiceBehavior">
      <endpoint address="<service_address>" binding="netTcpBinding" bindingConfiguration="secureTcpBinding" contract="<contract_name>"/>
    </service>
  </services>
  <client>
    <endpoint address="<service_address>" binding="netTcpBinding" bindingConfiguration="secureTcpBinding" contract="<contract_name>">
      <identity>
        <dns value="<client_certificate_name>" />
      </identity>
    </endpoint>
  </client>
</system.serviceModel>