<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<!--<appSettings>
		<add key="wcf:useLegacyCertificateUsagePolicy" value="true" />
	</appSettings>-->
    <system.serviceModel>
		<bindings>
			<!-- 定义服务绑定 -->
			<netTcpBinding>
				<binding name="azSecureTcpBinding" maxReceivedMessageSize="2147483647" transferMode="Streamed">
					<security mode="Transport">
						<transport clientCredentialType="Certificate" />
					</security>
					<!--<reliableSession enabled="true"/>-->
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
				</binding>
			</netTcpBinding>
		</bindings>


		<behaviors>
			<!-- 定义服务行为 -->
			<serviceBehaviors>
				<behavior name="azSecureServiceBehavior">
					<serviceCredentials>
						<!--元素用于配置服务端的身份验证和授权选项-->
						<clientCertificate>
							<authentication certificateValidationMode="None"  revocationMode="NoCheck" trustedStoreLocation="LocalMachine"/>
							<!--<certificate findValue="AZC-cert" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"/>-->
						</clientCertificate>
						<!--<serviceCertificate  findValue="AZS-cert" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />-->
						<serviceCertificate findValue="AZS-cert" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
						<!--<serviceCertificate findValue="azFTClient-cert" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"/>-->
					</serviceCredentials>
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		
		<services>
			<!-- 定义服务 -->
            <service name="AzFTServer.Service1" behaviorConfiguration="azSecureServiceBehavior">
                <endpoint address="net.tcp://localhost:52888/Service1/" binding="netTcpBinding" bindingConfiguration="azSecureTcpBinding" contract="AzFTServer.IService1">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/AzFTServer/Service1/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
		<client>
			<endpoint address="net.tcp://localhost:52888/Service1/" binding="netTcpBinding" bindingConfiguration="azSecureTcpBinding" contract="AzFTServer.IService1">
				<!--<identity>
					<dns value="AZc-cert" />
				</identity>-->
			</endpoint>
		</client>
    </system.serviceModel>
</configuration>
